body {
    display: flex;
    justify-content: center;
}
div.module {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.sub-module {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    text-align: center;
}

.sub-module.result {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
